<canvas id="drawing_pad" phx-hook="OnCanvasClear">

</canvas>

<button id="clear_canvas" type="button" phx-click="clear_canvas">Clear</button>
<button id="save_canvas" type="button" phx-click="save_canvas">Save</button>
<div>
  <%= @results %>
</div>
